@tailwind base;
@tailwind components;
@tailwind utilities;

/* sembunyikan scrollbar WebKit */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
/* sembunyikan scrollbar Firefox/IE */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* safe area padding */
body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
