@tailwind base;
@tailwind components;
@tailwind utilities;

/* sembunyikan scrollbar WebKit */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
/* sembunyikan scrollbar Firefox/IE */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
